---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <h1 style="padding: 200px 56px; font-family: var(--font-serif); font-size: 64px; color: var(--fg);">
      Portfolio coming soon.
    </h1>
  </main>
</Layout>
